################################################################################
# Project Specific Ignores
################################################################################
data/word2vec.pth
data/validation.zip
data/small_validation.zip
data/small_howto100m_videos.txt
data/small_howto100m_noend.txt
data/small_data.zip
data/extract_videos.sh
data/howto100m_csv
data/validation
data/small_train_videos
data/howto100m_videos.txt
data/small_val_videos
data/small_val_videos.csv


howto100m_captions.zip
word2vec.zip


################################################################################
# General Ignores
################################################################################
## byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_store
*~
\#*
.\#*

## C extensions
*.so

## installer logs
src
pip-log.txt
pip-delete-this-directory.txt

## dist / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

## editor outputs
Icon[
]
*.vscode
